/* src/styles/global.css */
@import '@radix-ui/themes/styles.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
